{
  "env": {
	"es6": true,
	"node": true
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "parserOptions": {
	"sourceType": "module"
  },
  "plugins": [
	"fp"
  ],
  "rules": {
	"indent": 0,
	"newline-per-chained-call": 0,
	"eol-last": 0,
	"fp/no-arguments": "error",
    "fp/no-class": "error",
    "fp/no-delete": "error",
    "fp/no-events": "error",
    "fp/no-get-set": "error",
    "fp/no-let": "error",
    "fp/no-loops": "error",
    "fp/no-mutating-assign": "error",
    "fp/no-mutating-methods": "error",
    "fp/no-mutation": "error",
    "fp/no-proxy": "error",
    "fp/no-rest-parameters": "error",
    "fp/no-this": "error",
    "fp/no-throw": "error",
	"no-var": "error"
  }
}
